<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="header::header"></div>

<body>

<div th:insert="sidebar:: sidebar"></div>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Form Layouts</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
          <li class="breadcrumb-item">Forms</li>
          <li class="breadcrumb-item active">Layouts</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row forms">


        <div class="col-lg-8">

          <div class="card">
            <div class="card-body">

<!--              <div th:if="${student.success}" class="alert alert-danger" role="alert">-->
<!--                Successful-->
<!--              </div>-->
              <h3 class="title">Fill out the Form</h3>

              <!-- Vertical Form -->
              <form th:action="@{/saveEmployee}" th:object="${employeeDTO}" method="post"
                    enctype="multipart/form-data" class="row g-3">
                <div class="col-12">
                  <label for="inputNanme4" class="form-label">Surname</label>
                  <input th:field="*{surname}" type="text" class="form-control" id="inputNanme4">
                </div>
                <div class="col-12">
                  <label for="inputNanme4" class="form-label">Given name</label>
                  <input th:field="*{givenName}" type="text" class="form-control" id="lastName">
                </div>
                <div class="col-12">
                  <label for="inputAddress" class="form-label">Address</label>
                  <input th:field="*{address}" type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                </div>
                <div class="col-12">
                  <label for="inputNanme4" class="form-label">Date Of Birth</label>
                  <input th:field="*{dob}" type="date" class="form-control" id="dob">
                </div>

                <div class="col-12">
                  <label for="inputNanme4" class="form-label">Place Of Birth</label>
                  <input th:field="*{pob}" type="text" class="form-control" id="pob">
                </div>

                <div class="col-12">
                  <label for="inputEmail4" class="form-label">Email</label>
                  <input th:field="*{email}" type="email" class="form-control" id="inputEmail4">
                </div>

                <div class="col-12">
                  <label for="inputEmail4" class="form-label">Nationality</label>
                  <input th:field="*{nationality}" type="text" class="form-control" id="nationality">
                </div>

                <div class="col-12">
                  <label for="inputEmail4" class="form-label">Highest Qualification</label>
                  <input th:field="*{hq}" type="text" class="form-control" id="hQualification">
                </div>

                <div class="col-12">
                  <label class="form-label">Upload Photo</label>
                    <input class="form-control" name="employeeImage" accept="image/jpeg, image/png" type="file" id="file-upload">
                  <input type="hidden" name="imgName" th:value="${employeeDTO.imageName}">
                </div>

                <div class="col-12">
                  <label for="inputEmail4" class="form-label">Years Of Experience</label>
                  <input th:field="*{yoe}" type="text" class="form-control" id="experience">
                </div>

                <div class="col-12">
                  <label for="inputEmail4" class="form-label">Phone Number</label>
                  <input th:field="*{number}" type="number" class="form-control" id="number">
                </div>

                <div class="col-12">
                  <label for="inputEmail4" class="form-label">Department</label>
                  <input th:field="*{department}" type="text" class="form-control" id="department">
                </div>

                <div>
                  <label><b>Sex:</b></label>
                  <div>
                    <label>Male</label>
                    <input value="Male" type="checkbox" th:field="*{sex}">
                    <label>Female</label>
                    <input value="Female" type="checkbox" th:field="*{sex}">
                  </div>
                </div>
                  <button type="submit" class="btn btn-primary form-control">Submit</button>
              </form><!-- Vertical Form -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

<div th:insert="footer:: footer"></div>

</body>

</html>