<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="header::header"></div>
<style>
  .bi-pencil-square{
     font-size: 25px;
    }
    .bi-trash{
      font-size: 25px;
    }
    .bi-info-circle{
        font-size: 25px;
        }

</style>

<body>

<div th:insert="sidebar:: sidebar"></div>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>List of Staff</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
          <li class="breadcrumb-item">Tables</li>
          <li class="breadcrumb-item active">Generate PDF</li>
          <li class="breadcrumb-item active" th:text="${DateTime}">Date</li>
<!--          <li class="breadcrumb-item active" th:text="${#dates.format(employee.localDateTime, 'dd-MM-yyyy HH:mm')}">Date</li>-->
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">


          <div class="table-wrapper">

            <!-- Table with hoverable rows -->
            <table class="table-hover fl-table">
              <thead>
              <tr>
                <!--                  <th>Id</th>-->
                <th>Surname</th>
                <th>Given name</th>
                <th>Address</th>
                <th>Place of birth</th>
                <th>Date of birth</th>
                <th>Phone number</th>
                <th>Department</th>
<!--                <th>Created by</th>-->
                <th>Created on</th>
<!--                <th>Created by</th>-->
                <th>Actions</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="employee: ${employees}" class="tr-hov" >
                <!--                  <td th:text="${employee.id}"></td>-->
                <td th:text="${employee.surname}" ></td>
                <td th:text="${employee.givenName}" ></td>
                <td th:text="${employee.address}"></td>
                <td th:text="${employee.pob}"></td>
                <td th:text="${employee.dob}"></td>
                <td th:text="${employee.number}"></td>
                <td th:text="${employee.department}"></td>
<!--                <td th:text="${employee.createdBy}"></td>-->
                <td th:text="${#dates.format(employee.createdDate, 'yyyy-MM-dd HH:mm')}"></td>
                <td>
                  <abbr title="Edit"><a th:href="@{'/editEmployee/' + ${employee.id}}"> <i class=" bi bi-pencil-square"></i></a></abbr>
                  <abbr title="Delete"><a th:href="@{'/deleteEmployee/' + ${employee.id}}"> <i class=" bi bi-trash text-danger"></i></a></abbr>
                  <abbr title="See more"><a th:href="@{'/showAllEmployees/' + ${employee.id}}"> <i class=" card-icon bi bi-info-circle text-info"></i></a></abbr>


                  <!--                  <a th:href="@{'/updateEmployee/' + ${employee.id}}" class="btn btn-info">Update</a>-->
<!--                  <a th:href="@{'/deleteEmployee/' + ${employee.id}}" class="btn btn-danger">Delete</a>-->
                </td>
              </tr>
              </tbody>
            </table>
            <!-- End Table with hoverable rows -->

          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

<div th:insert="footer:: footer"></div>

</body>

</html>